.btn-small {
  display: inline-block;
  padding: .625rem 1rem;
  border-radius: 4px;
  transition: all .3s;
}

.btn-middle {
  display: inline-block;
  padding: .625rem 2.375rem;
  border-radius: 4px;
  transition: all .3s;
  color: #fff;
}

.btn-large {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .625rem 3rem;
  color: #fff;
  border-radius: 4px;
  transition: background-color .3s;
}

.btn-xl {
  display: inline-block;
  padding: .75rem 3.25rem;
  color: #fff;
  transition: background-color .3s;
}

.btn-xxl {
  display: block;
  text-align: center;
  padding: .625rem 0;
  border-radius: 4px;
  transition: all .3s;
  color: #fff;
}

.btn-secondary {
  background-color: #E31277;
  border: 1px solid #E31277;
  &:hover {
    background-color: rgba(#E31277,0.8);
  }
}

.btn-outline-white {
  border: 1px solid #fff;
  &:hover {
    background-color: #fff;
    color: #000;
  }
}

.btn-primary {
  background-color: #630834;
  color: #fff;
  &:hover {
    background-color: rgba(#630834,0.8);
  }
}

.btn-outline-primary {
  border: 1px solid #630834;
  color: #630834;
  &:hover {
    border: 1px solid #630834;
    background-color: #630834;
    color: #fff;
  }
}

.chagne {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  transition: box-shadow .3s ease;
  &:hover {
    box-shadow: 0 0 5px 2px rgba(140, 140, 140, 0.64);
  }
}

.reduce {
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 16px;
    height: 2px;
    background-color: #000;
  }
}

.add {
  &::before,&::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 16px;
    height: 2px;
    background-color: #000;
  }
  &::after {
    transform: translate(-50%,-50%) rotate(90deg);
  }
}

.remove {
  position: absolute;
  top: 4px;
  left: 4px;
  &::before,&::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 16px;
    height: 2px;
    background-color: #000;
  }
  &::before {
    transform: translate(-50%,-50%) rotate(45deg);
  }
  &::after {
    transform: translate(-50%,-50%) rotate(-45deg);
  }
}

.remove--position {
  position: relative;
  top: 0;
  left: 0;
}

.checkout {
  display: block;
  padding: .625rem 1.6875rem;
  border: 1px solid #630834;
  background-color: #fff;
  color: #630834;
  border-radius: 4px;
  transition: background-color .3s , color .3s;
  &:hover {
    background-color: #630834;
    color: #fff;
  }
}
