.nav {
  a {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      bottom: 12px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #E31277;
      opacity: 0;
      visibility: hidden;
      transition: opacity .3s,visibility .3s;
    }
    &:hover {
      &::before {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
