.wrapper {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  @include mq(md) {
    width: 95%;
  }
}

.wrapper--spacing {
  padding: 0;
  @include mq(lg) {
    padding: 0 15px;
  }
}