body{
  font-family: 'Roboto' ,'Noto Sans TC', serif;
}

input:focus,button:focus,textarea:focus,select:focus{
  outline: none;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

select {
  -webkit-appearance: none;
  border-radius: 0;
}

span {
  display: inline-block;
}